---
layout: default
---
<div class="post">

    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
    </header>
    
    <!-- AC/DC -->
    <div class="card" style="width:90%;">
      <div class="container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/40UoUCVDsno?si=yGJGzyCrgjwcvp6-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="container">
        <h2><b>AC/DC</b></h2>
        <h3>Yeongung Kim, Rong He, Jiung Hwang, Chanwoo Yoon</h3>
        <p><b>Supporting bread lovers in getting fresh bread from their favorite bakeries</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_167">Slides</a>
      </div>
    </div>

    <!-- Camp Rock -->
    <div class="card" style="width:90%;">
      <div class="container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yEjVi3zTaAk?si=xoDn1tZMqmB9vRJD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="container">
        <h2><b>Camp Rock</b></h2>
        <h3>Kayla An, Ronja Buschmann, Keith Chua Dian Xun, Carolina Herrera</h3>
        <p><b>Supporting Muslims abroad observer Ramadan with a sense of community</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e281705a32_0_121">Slides</a>
      </div>
    </div>

    <!-- Coffee Beans -->
    <div class="card" style="width:90%;">
      <div class="container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/eO2zbI0J5M4?si=pOFEPCcXKULa8Q76" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="container">
        <h2><b>Coffee Beans</b></h2>
        <h3>Lwam Araya, Asghar Mesum, Mahnoor Shafiq</h3>
        <p><b>Supporting busy workaholics getting healthy coffee intake</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_51">Slides</a>
      </div>
    </div>

    <!-- Digital Nomads -->
    <div class="card" style="width:90%;">
      <div class="container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KiKHlmI99CQ?si=gXrdI7C3KHuFVNsV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="container">
        <h2><b>Digital Nomads</b></h2>
        <h3>Purevzaya Amarzaya, Dolgormaa Batsaikhan, Alikhan Kuanysh, Nurgulan Ualibyekm</h3>
        <p><b>Supporting young men choosing outfits for dates</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_364">Slides</a>
      </div>
    </div>

    <!-- EasyKORAIL -->
    <div class="card" style="width:90%;">
      <div class="container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4FrICY7f8lM?si=uNka1Ddc0Oq60qah" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="container">
        <h2><b>EasyKORAIL</b></h2>
        <h3>Hyunseo Lee, Jinwoo Lee, Daekeon Song, Youngmin Yang</h3>
        <p><b>Building a train mobile ticketing service for elderly people</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_516">Slides</a>
      </div>
    </div>

    <!-- HCI Wizards -->
    <div class="card" style="width:90%;">
      <div class="container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5kCxL-g3giM?si=r2DKhZXqnKRaN6NY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="container">
        <h2><b>HCI Wizards</b></h2>
        <h3>Hyeyeon Kim, Minseok Kim, Jaehyeon Lee, Gizelle Lim</h3>
        <p><b>Project Description here</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_652">Slides</a>
      </div>
    </div>

    <!-- King Park -->
    <div class="card" style="width:90%;">
      <div class="container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5kCxL-g3giM?si=r2DKhZXqnKRaN6NY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="container">
        <h2><b>King Park</b></h2>
        <h3>Hyeyeon Kim, Minseok Kim, Jaehyeon Lee, Gizelle Lim</h3>
        <p><b>Project Description here</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_765">Slides</a>
      </div>
    </div>

    <!-- Number -->
    <div class="card" style="width:90%;">
      <div class="container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5kCxL-g3giM?si=r2DKhZXqnKRaN6NY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="container">
        <h2><b>Number</b></h2>
        <h3>Hyeyeon Kim, Minseok Kim, Jaehyeon Lee, Gizelle Lim</h3>
        <p><b>Project Description here</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_887">Slides</a>
      </div>
    </div>

    <!-- On-Way -->
    <div class="card" style="width:90%;">
      <div class="container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5kCxL-g3giM?si=r2DKhZXqnKRaN6NY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="container">
        <h2><b>On-Way</b></h2>
        <h3>Hyeyeon Kim, Minseok Kim, Jaehyeon Lee, Gizelle Lim</h3>
        <p><b>Project Description here</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_998">Slides</a>
      </div>
    </div>

    <!-- Pill Good -->
    <div class="card" style="width:90%;">
      <div class="container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5kCxL-g3giM?si=r2DKhZXqnKRaN6NY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="container">
        <h2><b>Pill Good</b></h2>
        <h3>Hyeyeon Kim, Minseok Kim, Jaehyeon Lee, Gizelle Lim</h3>
        <p><b>Project Description here</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_1107">Slides</a>
      </div>
    </div>

    <!-- SNAK -->
    <div class="card" style="width:90%;">
      <div class="container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5kCxL-g3giM?si=r2DKhZXqnKRaN6NY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="container">
        <h2><b>SNAK</b></h2>
        <h3>Hyeyeon Kim, Minseok Kim, Jaehyeon Lee, Gizelle Lim</h3>
        <p><b>Project Description here</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_1370">Slides</a>
      </div>
    </div>

    <!-- SNSS -->
    <div class="card" style="width:90%;">
      <div class="container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5kCxL-g3giM?si=r2DKhZXqnKRaN6NY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="container">
        <h2><b>SNSS</b></h2>
        <h3>Hyeyeon Kim, Minseok Kim, Jaehyeon Lee, Gizelle Lim</h3>
        <p><b>Project Description here</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_1538">Slides</a>
      </div>
    </div>

    <!-- Very Human Designer -->
    <div class="card" style="width:90%;">
      <div class="container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5kCxL-g3giM?si=r2DKhZXqnKRaN6NY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="container">
        <h2><b>Very Human Designer</b></h2>
        <h3>Hyeyeon Kim, Minseok Kim, Jaehyeon Lee, Gizelle Lim</h3>
        <p><b>Project Description here</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_1723">Slides</a>
      </div>
    </div>

    <!-- What The Park -->
    <div class="card" style="width:90%;">
      <div class="container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5kCxL-g3giM?si=r2DKhZXqnKRaN6NY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="container">
        <h2><b>What The Park</b></h2>
        <h3>Hyeyeon Kim, Minseok Kim, Jaehyeon Lee, Gizelle Lim</h3>
        <p><b>Project Description here</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_1603">Slides</a>
      </div>
    </div>
</div>
