---
layout: default
---
<div class="post">

    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
    </header>
    <!-- Awards Given -->
    <div class="gallerycard">
      <div class="cardcontainer">
        <h2>🏆Awards🏆</h2>
        <br>
        <h2><b>Most Human-Centered</b></h2>
        <h3><a href="#pillgood">Pill Good</a></h3>
        <p><i>Haeseul Cha, Woojeong Choi, Junseo Park, Seowon Shin</i></p>
        <p></p>
        <h2><b>People's Choice</b></h2>
        <h3><a href="#acdc">AC/DC</a></h3>
        <p><i>Rong He, Jiung Hwang, Yeongung Kim, ChanWoo Yun</i></p>
        <h2><b>Best Pitch</b></h2>
        <h3><a href="#hciwizards">HCI Wizards</a></h3>
        <p><i>Yeongseo Cho, Jiwoong Jang, Sejun Jung, Gyuho Lee</i></p>
      </div>
    </div>
    
    
    <!-- AC/DC -->
    <div class="gallerycard" id="acdc">
      <div class="cardcontainer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/40UoUCVDsno?si=yGJGzyCrgjwcvp6-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="cardcontainer">
        <h2><b>AC/DC</b></h2>
        <h3>Rong He, Jiung Hwang, Yeongung Kim, ChanWoo Yun</h3>
        <p><b>Supporting bread lovers with high standards for bread freshness</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_167">Slides</a>
      </div>
    </div>

    <!-- Camp Rock -->
    <div class="gallerycard">
      <div class="cardcontainer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yEjVi3zTaAk?si=xoDn1tZMqmB9vRJD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="cardcontainer">
        <h2><b>Camp Rock</b></h2>
        <h3>Kayla An, Ronja Buschmann, Keith Chua Dian Xun, Carolina Herrera</h3>
        <p><b>Supporting Muslims abroad observe Ramadan with a sense of community</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e281705a32_0_121">Slides</a>
      </div>
    </div>

    <!-- Coffee Beans -->
    <div class="gallerycard">
      <div class="cardcontainer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/eO2zbI0J5M4?si=pOFEPCcXKULa8Q76" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="cardcontainer">
        <h2><b>Coffee Beans</b></h2>
        <h3>Lwam Araya, Mesum Asghar, Mahnoor Shafiq</h3>
        <p><b>Supporting busy workaholics get healthy coffee intake</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_51">Slides</a>
      </div>
    </div>

    <!-- Digital Nomads -->
    <div class="gallerycard">
      <div class="cardcontainer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KiKHlmI99CQ?si=gXrdI7C3KHuFVNsV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="cardcontainer">
        <h2><b>Digital Nomads</b></h2>
        <h3>Purevzaya Amarzaya, Dolgormaa Batsaikhan, Alikhan Kuanysh, Ualibyek Nurgulan</h3>
        <p><b>Supporting young men choose outfits for dates</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_364">Slides</a>
      </div>
    </div>

    <!-- EasyKORAIL -->
    <div class="gallerycard">
      <div class="cardcontainer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3lOyXk1aywg?si=1NP0Cq4OeB0ZEXC9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="cardcontainer">
        <h2><b>EasyKORAIL</b></h2>
        <h3>Hyunseo Lee, Jinwoo Lee, Daekeon Song, Youngmin Yang</h3>
        <p><b>Building a train mobile ticketing service for elderly people</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_516">Slides</a>
      </div>
    </div>

    <!-- HCI Wizards -->
    <div class="gallerycard" id="hciwizards">
      <div class="cardcontainer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/b3y9qCb7o-I?si=B306rRT2TOE9QgYI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="cardcontainer">
        <h2><b>HCI Wizards</b></h2>
        <h3>Yeongseo Cho, Jiwoong Jang, Sejun Jung, Gyuho Lee</h3>
        <p><b>Supporting minors and their families in handling payment processes</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_652">Slides</a>
      </div>
    </div>

    <!-- King Park -->
    <div class="gallerycard">
      <div class="cardcontainer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/DxFtsX3BXiM?si=kwp4Vvowiz2tB4A3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="cardcontainer">
        <h2><b>King Park</b></h2>
        <h3>Jinhyeon Kwon, Jungyoon Nam, Sungbin Park, Doyun Shin</h3>
        <p><b>Supporting drivers manage parking in challenging spaces</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_765">Slides</a>
      </div>
    </div>

    <!-- Number -->
    <div class="gallerycard">
      <div class="cardcontainer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/q6RaDEqyKHY?si=o13cwqYlh4J8LRnb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="cardcontainer">
        <h2><b>Number</b></h2>
        <h3>Gyuchan An, Janu Kim, Seyeon Kim</h3>
        <p><b>Supporting non-tech-savvy individuals order delivery food online</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_887">Slides</a>
      </div>
    </div>

    <!-- On-Way -->
    <div class="gallerycard">
      <div class="cardcontainer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/a9OU8jL3_tE?si=cKMC-JBmQPfWgXOx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="cardcontainer">
        <h2><b>On-Way</b></h2>
        <h3>Jinho Choi, Jiwoo Jeong, Seungwan Kang, Xuan Zhao</h3>
        <p><b>Supporting climbers find interesting climbing problems</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_998">Slides</a>
      </div>
    </div>

    <!-- Pill Good -->
    <div class="gallerycard" id="pillgood">
      <div class="cardcontainer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/RnMwlaIOzMQ?si=qCNfXjnxMRxUCek8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="cardcontainer">
        <h2><b>Pill Good</b></h2>
        <h3>Haeseul Cha, Woojeong Choi, Junseo Park, Seowon Shin</h3>
        <p><b>Supporting chief pharmacists keep inventory management of pills</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_1107">Slides</a>
      </div>
    </div>

    <!-- SNAK -->
    <div class="gallerycard">
      <div class="cardcontainer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bDLX0nECgI0?si=ZTqHrbuzn_WRRvAz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="cardcontainer">
        <h2><b>SNAK</b></h2>
        <h3>Aribah Aizaz, Shubhangi Kumar, Khadija Rajabova, Nurgissa Sailaubek</h3>
        <p><b>Supporting kiosk users have a customized and intuitive experience</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_1370">Slides</a>
      </div>
    </div>

    <!-- SNSS -->
    <div class="gallerycard">
      <div class="cardcontainer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5kCxL-g3giM?si=r2DKhZXqnKRaN6NY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="cardcontainer">
        <h2><b>SNSS</b></h2>
        <h3>Hyeyeon Kim, Minseok Kim, Jaehyeon Lee, Gizelle Lim</h3>
        <p><b>Supporting office workers exercise and stretch anywhere</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_1538">Slides</a>
      </div>
    </div>

    <!-- Very Human Designer -->
    <div class="gallerycard">
      <div class="cardcontainer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IhCj3xWcsgs?si=KqhP0PZV7pEPX8y2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="cardcontainer">
        <h2><b>Very Human Designer</b></h2>
        <h3>Akhdan Dzaky Maulana, Yi-Hsuan Fan, Jaesuk Lim, Siripon Sutthiwanna</h3>
        <p><b>Supporting family members handle and prevent phone-based scams</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_1723">Slides</a>
      </div>
    </div>

    <!-- What The Park -->
    <div class="gallerycard">
      <div class="cardcontainer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/aziAMvRh1sQ?si=ovs2IZag5RITc548" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="cardcontainer">
        <h2><b>What The Park</b></h2>
        <h3>SeungHun Nam, Chiyoon Park, Seongwoo Shin, Daegyu Sung</h3>
        <p><b>Supporting on-time parking in busy cities</b></p>
        <a href="https://docs.google.com/presentation/d/1clp7WMBkvcjxZFZExjKnghdQhqy1lvdhsIxdE6V66tk/edit#slide=id.g2e27ba77779_0_1603">Slides</a>
      </div>
    </div>
</div>
